@model Advertise.ViewModel.Models.Categories.CategoryCreateViewModel

@{
    ViewBag.Title = "ایجاد";
}
@using (Html.BeginForm(MVC.Category.Create(),FormMethod.Post,new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">ایجاد دسته جدید</h3>
        </div>

        <div class="panel-body">

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ParentId, new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        <div class="k-rtl">
                            <div id="getCategoryList"></div>
                        </div>
                        @Html.HiddenFor(model => model.ParentId)
                        @Html.ValidationMessageFor(model => model.ParentId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageFileName, new {@class = "control-label col-md-2" })
                    <div class="col-md-10 k-rtl">
                        <input type="file" id="ImageFileName" name="ImageFileName" accept=".jpg,.png">
                        @Html.ValidationMessageFor(model => model.ImageFileName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImageFileName,"پیش نمایش", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <img src="#" id="ImagePreview" class="img-thumbnail" width="300" height="300">
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Body, new {@class = "control-label col-md-2"})
                    <div class="col-md-10 k-rtl">
                            <textarea id="Body" name="Body" rows="10" cols="30" style="height: 440px"></textarea>
                        @Html.ValidationMessageFor(model => model.Body, "", new {@class = "text-danger"})
                    </div>
                </div>

                
            </div>
        </div>

        <div class="panel-footer">
            <div class="row">
                
                <div class="col-md-offset-1 col-md-1">
                    <input type="submit" value="ثبت" class="btn btn-primary" />
                </div>

                <div class="col-md-2">
                    @Html.ActionLink("برگشت به لیست", "List",new {Controller="Category"},new {@class="btn btn-default"})
                </div>
            </div>
        </div>
    </div>
}